<!DOCTYPE html>
<html>
<head>
    {% include 'headers.inc' %}
    <title>Jinja live parser - list</title>
    <script type='text/javascript'>
    document.onload = function() { add_rename(); };
    
    function add_rename(){
       // add onclick function for each rename button 
      {% for row in rows %}
          button = document.getElementById("rename_{{loop.index}}");
          button.onclick = function() { toEdit({{loop.index}}); };
      {% endfor %}
    }
    
     function renameTo(row, old_text){
          input = document.getElementById("input");
          window.open("/rename/" + old_text + "/" . input.value);
    }
      // change text to edition
      function toEdit(row){
            // Number of inputs to create
            // Container <div> where dynamic content will be placed
            var entry = document.getElementById("entry" + row);
            entry_txt = entry.innerText.trim();
            // Clear previous contents of the container
            while (entry.hasChildNodes()) {
                entry.removeChild(entry.lastChild);
            }
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "text";
            input.name = "member";
            input.value = entry_txt;
            entry.appendChild(input);

            // change color of rename button
            var rename =  document.getElementById("rename_" + row);
            rename.classList.remove("btn-primary");
            rename.classList.add("btn-success");
            rename.onclick = function() { renameTo(row, entry_txt); };
     }
      
    </script>

</head>
<body onload="add_rename();">
    <form class="container">
        <H2>list of known entries</H2>
        <div id="rename_to"></div><br>
        <div class="row">
            <div class="col-md-9">
                   <div class="row" style="background-color: #f0f0f0;">
                        <div class="col-md-4"> Key </div>
                        <div class="col-md-3"> Saved </div>
                        <div class="col-md-2"> </div>
                   </div>
                   
               {% for row in rows %}
                   <div class="row">
                        <div class="col-md-4" id="entry{{loop.index}}">
                                  <a href="../load/{{ row[0] }}">{{ row [0] }}</a>
                        </div>
                        <div class="col-md-3">{{ row[1] }}</div>
                        <div class="col-md-2">
                                  <button type="button" class="btn btn-primary btn-xs" id="rename_{{loop.index}}">
                                      <i class="glyphicon glyphicon-pencil"> </i>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-xs" id="delete{{loop.index}}" value="Delete"
                                          onClick="location.href='/delete/{{row[0]}}'">
                                      <i class="glyphicon glyphicon-trash"> </i>
                                  </button>
                        </div>
                    </div>
               {% endfor %}
            </div>
         </div>
        <div class="row">
            <div class="col-md-6">
              <br>
                  <button type="button" class="btn btn-primary btn-xs" id="home" onClick="location.href='/'">
                               <i class="glyphicon glyphicon-home"></i> &nbsp; Return
                  </button>
            </div>
        <div class="row">
            <div class="col-md-6 pull-right">
              <br>
               total: {{ nb }} entries
            </div>
        </div>
      </form>
</body>
</html>

